body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

/* div {
    display: flexbox;
} */

#card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
}

#loadMoviesBttn {
    
}
