body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

/* div {
    display: flexbox;
} */

#movies-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 10%;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

/* #loadMoviesBttn {

} */
